html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* header */

header {
    padding: 15px 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
header .logo {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* main */
main.layout {
    display: flex;
    flex: 1;
    min-height: 0; /* flex-child 안전 설정 */
}

.sidebar {
    width: 200px;
    padding: 1rem;
    background: #fdfdfd;
    border-right: 1px solid #ddd;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #217dbb;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background 0.2s;
}

.sidebar a:hover {
    background: #3498db;
    color: white;
}

.content {
    flex: 1;
    padding: 2rem;
}

/* footer */
footer {
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 0.9rem;
    color: #666;
}

/* breadcrumb */
.breadcrumb {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #888;
    display: flex;
    align-items: center;
    gap: 5px;
}

.breadcrumb a {
    text-decoration: none;
    color: #3498db;
}
